@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat/Montserrat-Light.ttf);
}
@font-face {
    font-family: MontserratBold;
    src: url(../font/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: MontserratMedium;
    src: url(../font/Montserrat/Montserrat-Medium.ttf);
}
*{
    font-family: Montserrat;
}
a{
    text-decoration: none;
    color: #000000;
}
.container{
    margin: 0 auto;
}
.verh{
    display: flex;
    gap: 20px;
}
.verhlevo{
    display: flex;
    gap: 40px;
}
.form1{
    display: flex;
    gap: 16px;
}
.logo{
    width: 86px;
    height: 44px;
    background: url(../img/logo.png);
}
header button{
    width: 154px;
    height: 49px;
    background-color: #F188F2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
header button a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: MontserratMedium;
}
header .container{
    width: 1380px;
    padding-top: 60px;
}
header{
    height: 167px;
}
.inputlupa{
    width: 400px;
    height: 45px;
    border-radius: 9px;
    border: 2px solid #A9A9A9;
    background: url("../img/poick.png") center left 10px;
    background-repeat: no-repeat;
    padding-left: 36px;
    font-size: 14px ;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
nav{
    display: flex;
    gap: 50px;
    align-items: center;
}
nav a:hover{
    color: #FC42FF;
}
.korzina{
    width: 30px;
    height: 30px;
    background: url("../img/korzina.png");
}
.niz{
    display: flex;
    gap: 120px;
}
.katalog{
    display: flex;
    gap: 39px;
    margin-top: 10px;
}
.katalog p{
    font-family: MontserratMedium;
    font-size: 18px;
}
.svyaz{
    display: flex;
    gap: 24px;
    align-items: center;
}
.seti{
    display: flex;
    gap: 15px;
}
.insta{
    width: 30px;
    height: 30px;
    background: url("../img/insta.png");
}
.whatsapp{
    width: 30px;
    height: 30px;
    background: url("../img/whatsapp.png");
}
.contact{
    display: flex;
    gap: 30px;
}
.svyaz .p1{
    font-family: MontserratMedium;
}
.rezhim .p1{
    font-size: 12px; 
    text-align: center; 
    margin-top: 26px; 
    margin-bottom: 0;
}
.rezhim.p2{
    margin-top: 0; 
    font-family: MontserratMedium;
}
main .container{
    width: 1377px;
    margin-top: 34px;
}
h1{
    font-family: MontserratBold;
    font-size: 40px;
}
.zag{
    display: flex;
    gap: 524px;
}
h2{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 33px;
}
.korzinastr{
    display: flex;
    gap: 86px;
}
.tovari{
    display: flex;
    flex-direction: column;
    gap: 51px;
}
.nomer{
    font-size: 24px;
    font-family: MontserratMedium;
}
.tovar{
    display: flex;
    gap: 25px;
    align-items: center;
}
.foto{
    width: 192px;
    height: 166px;
}
.f1{
    background: url("../img/foto3.png");
}
.f2{
    background: url("../img/foto1.png");
}
.f3{
    background: url("../img/foto2.png");
}
.tsena{
    display: flex;
    gap: 30px;
    align-items: center;
}
.tsena p{
    margin-bottom: 0;
    margin-top: 22px;
}
.info{
    width: 251px;
}
.cod{
    display: flex;
    gap: 16px;
}
.ch{
    font-size: 24px;
    font-family: MontserratMedium;
}
.gr{
    text-decoration: line-through;
    color: #8B8B8B;
    font-size: 16px;
}
.summa{
    display: flex;
    flex-direction: column;
    gap: 96px;
    margin-top: 25px;
}
.suma{
    display: flex;
    gap: 59px;
}
.colvo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.colvo {
    font-size: 24px;
    font-family: MontserratMedium;
}
.sum{
    display: flex;
    align-items: center;
    gap: 40px;
} 
.sum p{
    font-size: 40px;
    font-family: MontserratBold;
}
.minus{
    background: url("../img/minus.png");
    width: 25px;
    height: 25px;
}
.plus{
    background: url("../img/plus.png");
    width: 25px;
    height: 25px;
}
.crest{
    background: url("../img/crest.png");
    width: 30px;
    height: 30px;
}
.itogo{
    width: 430px;
    height: 589px;
    background: none;
    border: 2px solid #C949CA;
    border-radius: 16px;
    margin-left: -40px;
    margin-top: 12px;
}
.pitogo{
    font-size: 34px;
    font-family: MontserratBold; 
    text-align: center;
    margin-bottom: 23px;
}
.pitogo2{
    font-size: 48px; 
    font-family: MontserratBold; 
    text-align: center; 
    color: #C949CA; 
    margin-top: 36px; 
    margin-bottom: 28px;
}
.pozitsii{
    display: flex;
    gap: 46px;
    width: 100%;
    height: 49px;
    background: #00000005;
    color: #B3B3B3;
    justify-content: center;
    font-size: 24px;
    font-family: MontserratMedium;
    align-items: center;
}
.promocod{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin-top: 40px;
}
.pr{
    display: flex;
    align-items: center;
    gap: 18px;
}
.pr p{
    margin-bottom: -3px;
    margin-top: -7px;
    margin-left: 26px;
    font-size: 18px;
    font-family: MontserratMedium;
}

.form2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.form2 input{
    width: 307px;
    height: 49px;
    border-radius: 7px;
    padding-left: 18px;
    font-size: 16px;
}
.form2 button{
    width: 328px;
    height: 55px;
    border: none;
    border-radius: 7px;
    background: #C949CA;
}
.form2 button a{
    color: white;
    font-size: 24px;
    font-family: MontserratBold;
    text-align: center;
    text-decoration: none;
}
footer{
    background-color:#FBFBFB ;
    margin-top: 50px;
    height: 222px;
    display: flex;
    align-items: center;
}
.footer{
    border-radius: 5px;
}
.footer .p1{
    font-size: 13px; 
    color: #7C7C7C;
}
.footer .p2{
    font-size: 15px; 
    font-family: MontserratMedium;
}
.footer .p3{
    font-size: 17px; 
    font-family: MontserratMedium;
}
.footer .p4{
    width: 300px; 
    font-size: 35px; 
    font-family:MontserratBold;
     text-align: center; 
     margin-top: 0; 
     margin-bottom: 22px;
}
.pod1{
    width: 132px;
    height: 61px;
    background: url(../img/logo.png);
    background-size: cover;
    margin-top: -10px;
}
.pod2{
    width: 306px;
    height: 142px;
    background: #F7F7F7;
    margin-left: 100px;
}
.pod2 p{
    text-align: left;
}
.pod3 p{
    text-align: left;
    
}
.pod3{
    width: 306px;
    height: 142px;
    background: #F7F7F7;
    margin-left: 100px;
}
.pod4{
    margin-left: 70px;
    width: 306px;
    height: 108px;
}
footer .container{
    width: 1230px;
    height: 142px;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}
.icon1{
    width: 30px;
    height: 30px;
    background: url(../img/icon1.png);
}
.icon2{
    width: 30px;
    height: 30px;
    background: url(../img/icon2.png);
}
.podpod{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: start;
    margin-left: 17px;
}
